<div class="container-fluid">
  
     <div class="row-fluid">
       <div class="span3 column">
         <div class="well sidebar-nav" id="sidebar">
           
         </div><!--/.well -->
       </div><!--/span-->
       <div class="column span9 pre-scrollable show-main" id="content"></div><!--/row-->
       </div><!--/span-->
     </div><!--/row-->
   
 </div>
 
 <script type="application/json" id="bootstrapped_csrf_token">
 {"csrf_token" : <%= form_authenticity_token.to_json.html_safe %> }
 </script>
 

<script type="application/json" id="bootstrapped_current_user">
  { "current_user": <%= current_user.to_json(:include => [:collections]).html_safe %> }
</script>

<% if !current_user.nil? %>

<script type="application/json" id="bootstrapped_current_user_collections">
{ "current_user_collections": <%=  current_user.collections.to_json.html_safe %> }
</script>
<% end %>


