<h1>Fodder-ly</h1>
<div class="sidebar"></div>
<div class="content"></div>

<script type="application/json" id="bootstrapped_current_user">
{ "current_user": <%= current_user.to_json.html_safe %> }
</script>

