<ul class="nav nav-list">
    <li class="nav-header"><%= user.escape("username") %>'s collections</li>
 <% collections.forEach( function (collection) { %>
 <% collection_url = "#/users/" + user.escape("id") + "/collections/" + collection.escape("id") %>
 <li class'"active"><a href="<%=collection_url%>"><%= collection.escape("name")%></a></li>
 <% }); %>
    <li><button class="btn">Make new collection</button></li>
</ul>



 
    