
<div class="hero-unit" id="browse_bar">
  <h4>Browse: </h4>
  <a class="btn" href="/" id='browse-all'>All</a>
  <div class="btn-group">
    <a class="btn" href="#/selection/fast" id='browse-fast'>Fast</a>
    <a class="btn" href="#/selection/slow" id='browse-slow'>Slow</a>
  </div>
</div>